* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #dddddd;
	width: 1200px;
	margin: auto;
}

/* ///////////////////////////////////////////////////////////////////////////// */

/* Public style */

.cursor {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.title {
	color: red;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}

/* ///////////////////////////////////////////////////////////////////////////// */

.Footer {
	margin-top: 20px;
	background-color: #fff;
}

.Footer .container {
	padding: 20px 00px;
}

.Footer .title {
	text-transform: uppercase;
	color: red;
	font-size: 15px;
}

.Footer .list-link a {
	display: block;
	font-size: 15px;
}

.Footer .content * {
	font-size: 13px;
}

/* ////////////////////////////////////////////////////////////////////// */

.listProduct .title {
	position: relative;
}

.listProduct .title>* {
	display: inline-block;
}

.listProduct .title::first-child {
	float: left;
}

.listProduct .title::first-child::after {
	content: "";
	display: block;
	clear: both;
}

.listProduct .title a {
	position: absolute;
	right: 5px;
	top: 30%;
}

.listProduct .title:first-child::before {
	content: '';
	border: solid 20px transparent;
	border-left-color: red;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
	/* Adjusts for spacing */
}

.listProduct .product {
	padding: 10px 20px;
	border: 0.1px #dddddd93 solid;
}

.listProduct .product:hover {
	border: 0.1px #c9c7c7 solid;
}

.listProduct {
	padding-left: 0px;
	padding-right: 0px;
}

.listProduct .product img {
	width: 100%;
}

.listProduct .product >* {
	display: block;
}

.listProduct .product {
	/* display: none; */
	display: inline-block;
	width: 240px;
	padding: 20px;
}

.listProduct .product a {
	text-decoration: none;
	color: #161313;
	
}

.listProduct .product p {
	color: red;
}

.listProduct .product.active {
	display: inline-block;
}

.listProduct .product #price-sale {
	font-weight: bold;
}

.listProduct .product #price {
	text-decoration: line-through;
	color: #a8a6a6;
}

.listProduct {
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.listProduct .column {
	
	float: left;
}

.listProduct .row:after {
	content: "";
	display: table;
	clear: both;
}

.listProduct .row {
	
	width: 3000px;
}

/* Next & previous buttons */

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 7px 5px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: #f1f1f1;
	left: 0px;
}

/* Position the "next button" to the right */

.next {
	left: auto;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
	background-color: rgba(141, 127, 127, 0.8);
}

.Center>* {
	margin-top: 40px;
}

.Center .listProduct {
	background-color: #fff;
}

/* ///////////////////////////////////////// */

.top-header {
	background-color: rgb(230, 18, 11);
	padding: 10px 0;
	text-align: center;
}

.Header .top-header>* {
	display: inline-block;
}

#search {
	width: 100%;
	border: none;
	line-height: 35px;
	margin: 0;
	/* padding: 0 10px; */
	font-size: 13px;
	border-radius: 3px;
	float: left;
}

#search::after {
	content: "";
	display: block;
	clear: both;
}

.search {
	width: 40%;
	padding: 0 10px;
	background-color: #fff;
	margin-left: 20px;
	border-radius: 5px;
	position: relative;
}

.buttonSearch::after {
	content: "";
	display: block;
	clear: both;
}

.buttonSearch {
	float: right;
	background: none;
	border: none;
	position: absolute;
	top: 30%;
	right: 5px;
}

.search>* {
	display: inline-block;
}

.top-header-right {
	width: 30%;
	color: #fff;
	text-align: right;
}

.top-header-right>* {
	display: inline-block;
}

.Header .top-header .title {
	background-color: rgb(138, 6, 6);
}

.center-header .menu .mainMenu a {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

.center-header .menu .mainMenu i {}

.center-header .slide {
	margin-top: 10px;
}

.center-header .slide .right>* {
	width: 100%;
	padding-bottom: 10px;
}

.slide .menu .card-body {
	padding: 0.7rem !important;
	border-bottom: 1px rgb(218, 214, 214) solid !important;
	transition: background-color 0.5s;
	background-color: #fff;
}

.slide .menu .card-body:hover {
	background-color: #c9c7c7;
}

.slide .menu {}

.carousel-indicators li {
	text-indent: 0;
	width: 33%;
}

.information {
	padding: 10px;
	display: table;
	width: 100%;
}

.information .column {
	width: 20%;
	float: left;
	display: table-cell;
}

.information .column:first-child {
	width: 40%;
}

.information .row:after {
	content: "";
	display: table;
	clear: both;
}

/* ////////////////////////////////////////////// */

.imageGallery {
	overflow: hidden;
	position: relative;
}

.slides {
	 width: 10000px;
}

.imageGallery .slides .mySlides {
	display: inline-block;
	/* width: 660px; */
	margin-right: -0.25rem;
}

.imageGallery .slides .mySlides img {
	width: 100%;
}

.imageGallery .slides .mySlides::after {
	content: "";
	display: block;
	clear: both;
}

.imageGallery .row {}

.imageGallery .column {
	float: left;
	width: 25%;
}

.center-header .slide>* {
	float: left;
}

.center-header .slide::after {
	content: "";
	display: block;
	clear: both;
}

.center-header .slide .menu {
	width: 20%;
	padding-right: 10px;
}

.center-header .slide .imageGallery {
	width: 55%;
}

.center-header .slide .right {
	width: 25%;
	padding-left: 10px;
}

/* ///////////////////////////////////// */

.carousel-container {
	width: 80%;
	margin: auto;
	width: 3500px;
}

.carousel-slide {
	float: left;
	width: 100%;
	height: 300px;
}