.header-top .header-top-left ul li, .header-top-left-soical a:first-child, .header-top-right nav a:not(:first-child) {
  position: relative;
}

.header-top .header-top-left ul li:not(:first-child)>a::before, .header-top-left-soical a:first-child::before, .header-top-right nav a:not(:first-child)::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 60%;
  margin: auto;
  background-color: #fff;
}