body {
  font-family: sans-serif !important;
}

.header-top {
  background-color: #ce2601;
}

.header-nav {
  background-color: #e62e04 !important;
}

.header-nav .nav-item {
  padding: 1.5rem;
  transition: background-color 0.3s;
}

.header-nav .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.212);
}

.header-services {
  background-color: #e5e5e5;
}

.header-sidebar-content {
  position: absolute;
  top: 100%;
}

.header-sidebar a {
  color: black !important;
}

/* hoverborder */

.hoverborder {
  position: relative;
}

.hoverborder::before {
  position: absolute;
  content: "";
  height: 0%;
  width: 0%;
  border: 6px solid transparent;
  bottom: 5%;
  left: 5%;
  /* height: 90%;
  width: 90%; */
}

.hoverborder:hover::before {
  height: 90%;
  width: 90%;
  border: 6px solid white;
  border-right: 0;
  border-bottom: 0;
  transition: height 0.2s linear, width 0.3s linear 0.3s;
}

.hoverborder::after {
  position: absolute;
  content: "";
  height: 0%;
  width: 0%;
  border: 6px solid transparent;
  top: 5%;
  right: 5%;
  /* height: 90%;
  width: 90%; */
}

.hoverborder:hover::after {
  height: 90%;
  width: 90%;
  border: 6px solid white;
  border-left: 0;
  border-top: 0;
  transition: height 0.2s linear, width 0.3s linear 0.3s;
}

.header-sidebar-title {
  position: relative;
}

.list-group-horizontal li {
  padding: 0;
}

.list-group-horizontal li * {
  display: inline !important;
}

.header-sidebar-content {
  z-index: 999;
}

.header-sidebar-content .dropdown-toggle::after {
  float: right;
  margin-top: 0.3rem;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 999;
  }
}