body {
  font-family: sans-serif !important;
}

.header-top {
  background-color: #ce2601;
}

.header-nav {
  background-color: #e62e04 !important;
}

.header-nav .nav-item {
  padding: 1.5rem;
  transition: background-color 0.3s;
}

.header-nav .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.212);
}

.header-services {
  background-color: #e5e5e5;
}

.header-sidebar-content {
  position: absolute;
  top: 100%;
}

.header-sidebar a {
  color: black !important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 999;
  }
}

.mega_menu a {
  color: #000 !important;
}

@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: .5rem .5rem;
    margin: 0 .25rem;
  }
  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }
  .mega_menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    /* top: 45px; */
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    margin: 0 !important;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
  }
  .mega_menu a:hover {
    color: red !important;
  }
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .mega_menu, .mega_menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .dropdown-toggle {
    position: relative;
  }
  .header-nav .dropdown-toggle::after {
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 45%;
  }
}