block footer
	footer.text-light
		.container
			.row
				.col-md-3.col-lg-4.col-xl-3
					h5 About
					hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
					p.mb-0
					| Le Lorem Ipsum est simplement du faux texte employ&eacute; dans la composition et la mise en page avant impression.
				.col-md-2.col-lg-2.col-xl-2.mx-auto
					h5 Informations
					hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
					ul.list-unstyled
					li
						a(href='') Link 1
					li
						a(href='') Link 2
					li
						a(href='') Link 3
					li
						a(href='') Link 4
				.col-md-3.col-lg-2.col-xl-2.mx-auto
					h5 Others links
					hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
					ul.list-unstyled
					li
						a(href='') Link 1
					li
						a(href='') Link 2
					li
						a(href='') Link 3
					li
						a(href='') Link 4
				.col-md-4.col-lg-3.col-xl-3
					h5 Contact
					hr.bg-white.mb-2.mt-0.d-inline-block.mx-auto.w-25
					ul.list-unstyled
					li
						i.fa.fa-home.mr-2
						|  My company
					li
						i.fa.fa-envelope.mr-2
						|  email@example.com
					li
						i.fa.fa-phone.mr-2
						|  + 33 12 14 15 16
					li
						i.fa.fa-print.mr-2
						|  + 33 12 14 15 16
				.col-12.copyright.mt-3
					p.float-left
					a(href='#') Back to top
					p.text-right.text-muted
					| created with 
					i.fa.fa-heart
					|  by 
					a(href='https://t-php.fr/43-theme-ecommerce-bootstrap-4.html')
						i t-php
					|  | 
					span v. 1.0
